---
---
<script type="module">
  import './node_modules/htmx.org/dist/htmx.min.js'
</script>
<!-- <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script> -->

<body class="p-8">
  <section 
    class="container mx-auto" 
    >
    <input 
      hx-trigger="keyup changed delay:500ms"
      hx-get="/api/search"
      hx-target="#search-results"
      name="username"
      type="text" 
      class="rounded mx-auto w-full p-4 border"
      placeholder="Github username"
    >
  </section>
  
  <main id="search-results" class="mt-8"></main>


</body>

<style is:global>
  * {
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
</style>